ssl_options.cacertfile = /var/lib/rabbitmq/cacert.pem
ssl_options.certfile   = /var/lib/rabbitmq/cert.pem
ssl_options.keyfile    = /var/lib/rabbitmq/key.pem
ssl_options.verify               = verify_peer
ssl_options.fail_if_no_peer_cert = true
ssl_options.versions.1 = tlsv1.2

listeners.tcp = none
listeners.ssl.default  = 5671

management.tcp.port       = 15672
management.ssl.port       = 15671
management.ssl.cacertfile = /var/lib/rabbitmq/cacert.pem
management.ssl.certfile   = /var/lib/rabbitmq/cert.pem
management.ssl.keyfile    = /var/lib/rabbitmq/key.pem
management.ssl.verify = verify_none
management.ssl.fail_if_no_peer_cert = false
management.ssl.client_renegotiation = false
management.ssl.versions.1 = tlsv1.1
management.ssl.versions.2 = tlsv1.2